<table style="width: 100%;">

    <tr>

        <td>
            {{courseName}}
        </td>
        <td>
 //         {{productPrice}}
        </td>
        <td>
            <span>{{courseName}}</span>
        </td>
        <td>
            <!--  {{fullName}} -->
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" value="{{courseName}}">
        </td>
        <td>
            <input type="text" [max]="maxlength" [minLength]="minChar">
        </td>
    </tr>
     
</table>
